.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block : 15px;
}

.header-task-title {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
